<% layout("/layouts/boilerplate") %>
<body>
    <h3 class="mt-5">Create New Listing</h3>
    <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title : </label>
            <input type="text"  class="form-control" name="listing[title]" placeholder="Add title" required/>
            <div class="invalid-feedback">Please choose a valid title.</div>
            <div class="valid-feedback">Good</div>
        </div>
        <div class="mb-3"><label for="description" class="form-label">Description : </label>
            <textarea type="text" class="form-control"  name="listing[description]" placeholder="Add a description" required></textarea>
            <div class="invalid-feedback">
                Please enter a valid description.
            </div>
            <div class="valid-feedback">Good</div>
        </div>
        <!-- <div class="mb-3"> 
            <label for="image" class="form-label">Image : </label>
            <input type="text" class="form-control"  name="listing[image]" placeholder="enter image url"/>
            <div class="valid-feedback">Good</div>
        </div> -->
        <div class="mb-3"> 
            <label for="image" class="form-label">Upload mage : </label>
            <input type="file" class="form-control"  name="listing[image]"/>
            <div class="valid-feedback">Good</div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3"><label for="price" class="form-label">Price : </label>
                <input type="Number" class="form-control"  name="listing[price]" required/>
                <div class="invalid-feedback">
                    Please enter a valid price.
                </div>
                <div class="valid-feedback">Good</div>
            </div>
            <div class="col-md-8 mb-3"><label for="country" class="form-label">Country : </label>
                <input type="text" class="form-control" name="listing[country]" required/>
                <div class="invalid-feedback">
                    Please enter a valid country.
                </div>
                <div class="valid-feedback">Good</div>
            </div>            
        </div>
        <div class="mb-3"><label for="location" class="form-label">Location : </label>
            <input type="text" class="form-control" name="listing[location]" required/>
            <div class="invalid-feedback">
                Please enter a valid location.
            </div>
            <div class="valid-feedback">Good</div>
        </div>
        <button class="btn btn-dark mb-5">Add In List</button>
    </form><br>
    <!-- <form action="/listings" method="get">
        <button class="btn btn-dark mb-3">Back to listings</button>
    </form> -->
</body>